angel-cd==1.0.3
anndata==0.7.6
appdirs==1.4.4
argon2-cffi==20.1.0
async-generator==1.10
attrs==21.2.0
autograd==1.3
axial==0.2.3
backcall==0.2.0
backports.functools-lru-cache==1.6.4
beautifulsoup4==4.11.1
bimlpa==0.1.2
bioservices==1.9.0
biothings-client==0.2.6
black==21.5b1
bleach==3.3.0
bokeh==2.3.3
brotlipy==0.7.0
cdlib==0.2.6
certifi==2021.5.30
cffi==1.14.5
chardet==4.0.0
chinese-whispers==0.8.0
click==8.0.0
cloudpickle==1.6.0
cmapPy==4.0.1
coclust==0.2.1
colorama==0.4.4
colorcet==2.0.6
colorlog==6.6.0
cryptography==3.4.7
cycler==0.10.0
Cython==0.29.24
cytoolz==0.11.0
dask==2021.5.0
datashader==0.13.0
datashape==0.5.2
dcor==0.5.3
decorator==5.0.9
defusedxml==0.7.1
demon==2.0.6
distributed==2021.5.0
dynetx==0.3.1
easydev==0.12.0
entrypoints==0.3
eva-lcd==0.1.1
fastcluster==1.2.4
fdasrsf==2.3.10
findiff==0.8.9
fsspec==2021.5.0
future==0.18.2
gensim==4.1.2
gevent==21.12.0
goenrich==1.12
googledrivedownloader==0.4
GPy==1.10.0
greenlet==1.1.2
grequests==0.6.0
gseapy==0.10.6
h5py==3.2.1
hdbscan==0.8.33
HeapDict==1.0.1
holoviews==1.14.5
idna==2.10
imagecodecs-lite==2019.12.3
imageio==2.9.0
imbalanced-learn==0.8.0
importlib-metadata==4.0.1
iniconfig==1.1.1
install==1.3.4
ipykernel==5.5.5
ipython==7.23.1
ipython-genutils==0.2.0
ipywidgets==7.6.3
isodate==0.6.0
itsdangerous==2.0.1
jedi==0.18.0
Jinja2==3.0.0
joblib==1.0.1
jsonschema==3.2.0
jupyter==1.0.0
jupyter-client==6.1.12
jupyter-console==6.4.0
jupyter-core==4.7.1
jupyterlab-pygments==0.1.2
jupyterlab-widgets==1.0.0
kiwisolver==1.3.1
kneebow==0.1.1
kneed==0.7.0
leidenalg==0.8.7
llvmlite==0.36.0
locket==0.2.0
loess==2.1.1
louvain==0.7.0
lxml==4.9.0
mahotas==1.4.11
Markdown==3.3.4
markov-clustering==0.0.6.dev0
MarkupSafe==2.0.0
matplotlib==3.4.2
matplotlib-inline==0.1.2
matplotlib-venn==0.11.6
mistune==0.8.4
mpmath==1.2.1
msgpack==1.0.2
multimethod==1.7
multipledispatch==0.6.0
mygene==3.2.2
mypy-extensions==0.4.3
natsort==7.1.1
nbclient==0.5.3
nbconvert==6.0.7
nbformat==5.1.3
nest-asyncio==1.5.1
networkx==2.7.1
nf1==0.0.4
nmco @ git+https://github.com/GVS-Lab/chrometrics.git@ce86d3787c661e8a59d26fcf4498efb8fd5ecc5a
node2vec==0.4.3
nose==1.3.7
notebook==6.4.0
numba==0.53.1
numexpr==2.7.3
numpy==1.22.3
olefile==0.46
opencv-python==4.5.2.52
packaging==20.9
pandas==1.5.1
pandocfilters==1.4.2
panel==0.12.1
param==1.11.1
paramz==0.9.5
parso==0.8.2
partd==1.2.0
pathspec==0.8.1
patsy==0.5.1
pcst-fast==1.0.7
pexpect==4.8.0
pickleshare==0.7.5
Pillow==8.2.0
pip==21.1.1
plotbin==3.1.3
pluggy==1.0.0
pooch==1.3.0
POT==0.8.1.0
prometheus-client==0.10.1
prompt-toolkit==3.0.18
psutil==5.8.0
ptyprocess==0.7.0
PuLP==2.6.0
py==1.11.0
pybind11==2.7.0
pybiomart==0.2.0
pyclustering==0.10.1.2
pycparser==2.20
pyct==0.4.8
Pygments==2.9.0
pymanopt==0.2.5
pynndescent==0.5.2
pyOpenSSL==20.0.1
pyparsing==2.4.7
PyQt5==5.12.3
PyQt5-sip==4.19.18
PyQtChart==5.12
PyQtWebEngine==5.12.1
pyrsistent==0.17.3
PySocks==1.7.1
pytest==7.1.1
python-dateutil==2.8.1
python-igraph==0.9.6
python-Levenshtein==0.12.2
python-louvain==0.16
pytz==2021.1
pyviz-comms==2.1.0
PyWavelets==1.1.1
PyYAML==5.4.1
pyzmq==22.0.3
qtconsole==5.1.0
QtPy==1.9.0
random-fourier-features-pytorch==1.0.0
rdata==0.7
rdflib==6.0.0
regex==2021.4.4
requests==2.25.1
requests-cache==0.7.1
scanpy==1.8.1
scikit-datasets==0.2.0
scikit-fda==0.7.1
scikit-image==0.18.1
scikit-learn==1.0.2
scikit-misc==0.1.4
scipy==1.8.0
seaborn==0.11.1
Send2Trash==1.5.0
sinfo==0.3.4
six==1.16.0
sklearn==0.0
smart-open==5.2.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
spherecluster==0.1.7
statannot==0.2.3
statsmodels==0.12.2
stdlib-list==0.8.0
suds-community==1.1.1
sympy==1.10.1
tables==3.6.1
tblib==1.7.0
terminado==0.9.5
testpath==0.5.0
texttable==1.6.4
threadpoolctl==2.1.0
thresholdclustering==1.1
tifffile==2019.7.26.2
toml==0.10.2
tomli==2.0.1
toolz==0.11.1
--find-links https://download.pytorch.org/whl/torch_stable.html
torch==1.8.1+cpu
torchvision==0.9.1+cpu
torchaudio==0.8.1
tornado==6.1
tqdm==4.62.2
traitlets==5.0.5
typing-extensions==3.7.4.3
umap-learn==0.5.1
url-normalize==1.4.3
urllib3==1.26.4
venn==0.1.3
wcwidth==0.2.5
webencodings==0.5.1
wheel==0.36.2
widgetsnbextension==3.5.1
wrapt==1.14.1
xarray==0.19.0
xlrd==1.2.0
xmltodict==0.13.0
yacs==0.1.8
yellowbrick==1.4
zict==2.0.0
zipp==3.4.1
zope.event==4.5.0
zope.interface==5.4.0
